#!/bin/zsh

source $DOTFILES/script/exist.sh

# build-in commands and core utilities
alias df='df -h'

# exa instead of ls
if exists exa; then
  alias ls='exa -Fh'
  alias la='exa -aglh --group-directories-first --git'
  alias l='exa -GF'
  alias l.='exa -d .*'
  alias ll.='exa -dlg .*'
  alias l1='exa -1'
  alias ll='exa -glh --group-directories-first --git'
else
  alias la='ls -A'
  alias l='ls -CF'
  alias l.='ls -d .*' #ls hidden files
  alias l1='ls -1'
  alias ls='ls -Fh'
fi

# bat instead of cat
if exists bat; then
  alias cat='bat'
fi

if exists z; then
  alias j='z'
fi

if exists lpass; then
  alias lastpass='lpass'
fi

# editors (assume nvim with plugin)
if exists nvim; then
  alias vim=nvim
  alias f='vim $(fzf)'
  alias wiki='vim -c VimwikiIndex'
  alias note='vim -c VimwikiMakeDiaryNote'
  alias diary='vim -c VimwikiDiaryIndex'
  alias magit='vim -c MagitOnly'       # manage git folder with magit
  alias bookmark="vim -c ':e $HOME/.NERDTreeBookmarks'"
fi

# dotfiles
alias dot="cd $HOME/.dotfiles"
alias dev="$DOTFILES/dev"

# other
alias r='ranger'
alias open='xdg-open'

alias t='task'
alias tw='task waiting'

if exists xclip; then
  alias pbcopy='xclip -selection clipboard'
  alias pbpaste='xclip -selection clipboard -o'
fi

export NVM_DIR="$HOME/.nvm"
alias nvmload='[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"'

$*
