#!/bin/zsh

# build-in commands and core utilities
alias df='df -h'

# alias j=jobs
# alias la='ls -A'
# alias l='ls -CF'
# alias l.='ls -d .*' #ls hidden files
# alias l1='ls -1'
# alias ls='ls -Fh'
alias ls='exa -Fh'
alias la='exa -aglh --group-directories-first --git'
alias l='exa -GF'
alias l.='exa -d .*'
alias ll.='exa -dlg .*'
alias l1='exa -1'
alias ll='exa -glh --group-directories-first --git'
alias c='clear'

alias dev='./dev'

# editors
alias vim=nvim
alias f='vim $(fzf)'
alias wiki='vim -c VimwikiIndex'
alias note='vim -c VimwikiMakeDiaryNote'
alias diary='vim -c VimwikiDiaryIndex'
alias magit='vim -c MagitOnly'       # manage git folder with magit
alias bookmark="vim -c ':e $HOME/.NERDTreeBookmarks'"

# dotfiles
alias dotfiles='cd ~/.dotfiles'

# other
alias r='ranger'
alias open='xdg-open'
alias t='task'

if [ "$PACKAGE_MANAGER" = pacman ]; then
  alias u="sudo pacman --sync --refresh --sysupgrade"
fi

# nvm alias for nodejs
alias nvmload='nvm use 8.11.4'

# git
alias gst='git status'
alias gc='git commit'
