keyboards/qmk

# NVIM
@general/.config/nvim/plugged/
@general/.config/nvim/autoload
@general/.config/nvim/session*
@general/.config/nvim/.netrwhist
@general/.config/nvim/.cache/
@general/.config/nvim/plugin/

# git secret
.gitsecret/keys/random_seed
!*.secret
@general/.config/pet/snippet.toml
@general/.gitconfig
@general/.warprc
@linux/.config/gammastep/config.ini

@general/.config/nvim/sessions/**
