" System settings  ----------------------------------------------------------{{{

  syntax enable
  set autoread          " Automatically reload changes if detected

" commandline completion
  set wildmenu
  set wildignore+=*/tmp/*,*.so,*.swp,
        \*.zip,*.pyc,*.db,*.sqlite

" hidden no write since last change (add ! to override)
  set hidden
" automatic set title
  set title

" enable vim-surround plugin
  set surround

" hide mode in statusline
  set showmode

" disable short messages
  set shortmess=at

  set inccommand=nosplit

" word wrapping, but only line breaks inserted when explicitly press enter
  set wrap
  set linebreak
  set nolist

" minimum nr. of lines above and below cursor
  set scrolloff=5

  set hls
  set incsearch

" set case-insensitive search
  set ignorecase
  set smartcase

  set clipboard^=unnamed,unnamedplus

" leader key
  let mapleader=','

" special character for tab, trail, eol etc..
  set listchars=tab:‣\ ,trail:·,precedes:«,extends:»,eol:¬
  set list

" fix backspace indent
  set backspace=indent,eol,start

" open new split panes to right and bottom, which feels more natural
  set splitright
  set splitbelow

" ---------------
" Mouse
" ---------------
  set mousehide  " Hide mouse after chars typed
  set mouse=a    " Mouse in all modes

  " Better complete options to speed it up
  set complete=.,w,b,u,U

" Silently execute an external command
" No 'Press Any Key to Contiue BS'
" from: http://vim.wikia.com/wiki/Avoiding_the_%22Hit_ENTER_to_continue%22_prompts
  command! -nargs=1 SilentCmd
  \ | execute ':silent !'.<q-args>
  \ | execute ':redraw!'

" }}}

" System mappings  ----------------------------------------------------------{{{

" " Use ; for : in normal and visual mode, less keystrokes
"   nnoremap ; :
"   vnoremap ; :

" no one is really happy until you have this shortcuts
  cnoreabbrev W! w!
  cnoreabbrev Q! q!
  cnoreabbrev Qall! qall!
  cnoreabbrev Wq wq
  cnoreabbrev Wa wa
  cnoreabbrev wQ wq
  cnoreabbrev WQ wq
  cnoreabbrev W w
  cnoreabbrev Q q
  cnoreabbrev Qall qall

" command history
  nnoremap q: <nop>
  nnoremap q/ <nop>
  nnoremap q? <nop>
  " nnoremap Q: q:
  " nnoremap Q/ q/
  " nnoremap Q? q?

" no need for ex mode
  nnoremap Q <nop>
  vnoremap // y/<C-R>"<CR>

" split
  noremap <leader>b :<C-u>split<CR>
  noremap <leader>v :<C-u>vsplit<CR>

" Navigate between display lines
  nnoremap <silent><expr> k      v:count == 0 ? 'gk' : 'k'
  nnoremap <silent><expr> j      v:count == 0 ? 'gj' : 'j'
  nnoremap <silent><expr> <Up>   v:count == 0 ? 'gk' : 'k'
  nnoremap <silent><expr> <Down> v:count == 0 ? 'gj' : 'j'

" Move around 'normal mode'
  noremap H ^
  noremap L $
  nnoremap J 5gj
  nnoremap K 5gk

" Align blocks of text and keep them selected
  vmap < <gv
  vmap > >gv

" Switching windows
  noremap <C-j> <C-w>j
  noremap <C-k> <C-w>k
  noremap <C-l> <C-w>l
  noremap <C-h> <C-w>h

" Override default behavior where vim will replace default register with copy
" from pasted
  xnoremap p pgvy


"" Close buffer
  noremap <leader>c :q!<CR>

" Swap implementations of ` and ' jump to markers
" By default, ' jumps to the marked line, ` jumps to the marked line and
" column, so swap them
  nnoremap ' `
  nnoremap ` '

  nnoremap Y y$
  nnoremap Q @q

" }}}

" Appearance settings  ------------------------------------------------------{{{

" show the cursor position all the time
  set ruler
  set cursorline
  set relativenumber
  set number
  set fillchars=""

"}}}

" Intellij custom settings  -------------------------------------------------{{{

  " comment and clear visual
  nnoremap gcc :action CommentByLineComment<CR>
  vnoremap gc :action CommentByLineComment<CR>

  " open terminal
  noremap <leader>sh :action ActivateTerminalToolWindow<CR>

  nnoremap <leader>f :action FindInPath<CR>
  nnoremap gf :action GotoDeclaration<CR>
  nnoremap gh :action QuickImplementations<CR>
  nnoremap <C-p> :action GotoFile<CR>

  " nnoremap / :action Find<CR>
  " nnoremap n :action FindNext<CR>
  " nnoremap N :action FindPrevious<CR>

  " " fold / unfold using `zo`, `zc` wait until intellij support za
  " nnoremap <space> za
"}}}
