###################
### Xft Setting ###
###################

Xft.dpi:                144
Xft.autonhint:          0
Xtf.lcdfilter:          lcddefault
Xft.hintstyle:          hintslight
Xft.hinting:            true
Xft.antialias:          true
Xft.rgba:               rgb
Xft.font:               MesloLGM Nerd Font:size=12

#####################
### URxvt Setting ###
#####################

! General settings
URxvt.saveLines:        10000
URxvt.urgentOnBell:     True
URxvt.cursorBlink:      False
URxvt.cursorColor:      green
URxvt.letterSpace:      0

/* URxvt.background:       #000000 */
URxvt.font:             xft:MesloLGM Nerd Font Mono:size=10,xft: Tlwg Mono
URxvt.italicFont:
URxvt.boldFont:         xft:MesloLGM Nerd Font Mono:size=10,xft: Tlwg Mono
URxvt.scrollBar:        false

/* ! Scrollbar */
/* URxvt*scrollColor:        #1E1E1E */
/* URxvt*scrollbar_floating: false */
/* URxvt*scrollstyle:        plain */
/* URxvt*scrollBar_right:    true */
/* URxvt*thickness:          3 */

URxvt.copyCommand:      xclip -i -selection clipboard
URxvt.pasteCommand:     xclip -o -selection clipboard

! Extensions
URxvt.perl-ext-common: default,matcher,resize-font,clipboard,keyboard-select,url-select
URxvt.urlLauncher: chromium
URxvt.urlButton: 1
URxvt.underlineURLs: True

! Resize font
URxvt.keysym.C-minus:        resize-font:smaller
URxvt.keysym.C-equal:        resize-font:bigger
/* URxvt.keysym.C-plus:      resize-font:bigger */

! COPY / PASTE
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! Disable ctrl + shift
URxvt.iso14755:false
URxvt.iso14755_52:false

######################
### One dark theme ###
######################

! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #32302f, #32302f, #282c34

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #32302f, #a89984, #32302f, #32302f, #ebdbb2
rofi.color-active:  #32302f, #a89984, #32302f, #32302f, #ebdbb2
rofi.color-urgent:  #32302f, #a89984, #32302f, #32302f, #ebdbb2

! Set the desired separator style
rofi.separator-style: none

rofi.width: 30
rofi.lines: 10
rofi.columns: 1
rofi.font: MesloLGM Nerd Font Mono 11
rofi.bw: 3
rofi.padding: 20
/* rofi.location: 3 */
rofi.eh: 1
rofi.hide-scrollbar: true
rofi.window-format: [{w}]\ -\ {c}\ :\ {t}
rofi.terminal: i3-sensible-terminal
rofi.display-ssh: connect to server
rofi.display-run: execute
rofi.display-drun: search
rofi.display-window: window
/* rofi.combi-modi: run,drun */
rofi.modi: run,drun
