# !/bin/zsh

# build-in commands and core utilities
alias df='df -h'

# exa instead of ls
if exists exa; then
  alias ls='exa -Fh'
  alias la='exa -aglh --group-directories-first --git'
  alias l='exa -GF'
  alias l.='exa -d .*'
  alias ll.='exa -dlg .*'
  alias l1='exa -1'
  alias ll='exa -glh --group-directories-first --git'
else
  alias la='ls -A'
  alias l='ls -CF'
  alias l.='ls -d .*' #ls hidden files
  alias l1='ls -1'
  alias ls='ls -Fh'
fi

# if exists rg; then
#   alias grep='rg'
# fi

# bat instead of cat
if exists bat; then
  alias cat='bat'
fi

# kubernetes
if exists kubectl; then
  alias k='kubectl'
fi

# editors (assume nvim with plugin)
if exists nvim; then
  alias vim=nvim
  alias tmp='vim ~/.tmp.md'
fi

alias c=clear

# dotfiles
alias dot="cd $HOME/.dotfiles"

# other
if exists ranger; then
  # source current ranger dir
  alias ranger='. ranger'
  alias r='ranger'
fi

if exists xdg-open; then
  alias open='xdg-open'
fi

if exists xclip; then
  alias pbcopy='xclip -selection clipboard'
  alias pbpaste='xclip -selection clipboard -o'
fi

alias nvmload='[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"'

# scripts

alias gitall='ls -D | xargs -P10 -I{} git -C {}'

$*
