# !/bin/zsh

# build-in commands and core utilities
alias df='df -h'

# exa instead of ls
if exists exa; then
  alias ls='exa -Fh'
  alias la='exa -aglh --group-directories-first --git'
  alias l='exa -GF'
  alias l.='exa -d .*'
  alias ll.='exa -dlg .*'
  alias l1='exa -1'
  alias ll='exa -glh --group-directories-first --git'
else
  alias la='ls -A'
  alias l='ls -CF'
  alias l.='ls -d .*' #ls hidden files
  alias l1='ls -1'
  alias ls='ls -Fh'
fi

# if exists rg; then
#   alias grep='rg'
# fi

# bat instead of cat
if exists bat; then
  alias cat='bat'
fi

# kubernetes
if exists kubectl; then
  alias k='kubectl'
fi

# editors (assume nvim with plugin)
if exists nvim; then
  alias vim=nvim
  alias tmp='vim ~/.tmp.md'
fi

alias c=clear

# other
if exists ranger; then
  # source current ranger dir
  alias ranger='. ranger'
  alias r='ranger'
fi

if exists nnn; then
  alias nnn="nnn -He"
  # source current ranger dir
  n ()
  {
      # Block nesting of nnn in subshells
      if [ -n $NNNLVL ] && [ "${NNNLVL:-0}" -ge 1 ]; then
          echo "nnn is already running"
          return
      fi

      # The default behaviour is to cd on quit (nnn checks if NNN_TMPFILE is set)
      # To cd on quit only on ^G, remove the "export" as in:
      #     NNN_TMPFILE="${XDG_CONFIG_HOME:-$HOME/.config}/nnn/.lastd"
      # NOTE: NNN_TMPFILE is fixed, should not be modified
      export NNN_TMPFILE="${XDG_CONFIG_HOME:-$HOME/.config}/nnn/.lastd"

      # Unmask ^Q (, ^V etc.) (if required, see `stty -a`) to Quit nnn
      # stty start undef
      # stty stop undef
      # stty lwrap undef
      # stty lnext undef

      nnn -He "$@"

      if [ -f "$NNN_TMPFILE" ]; then
              . "$NNN_TMPFILE"
              rm -f "$NNN_TMPFILE" > /dev/null
      fi
  }
fi

if exists xdg-open; then
  alias open='xdg-open'
fi

if exists wl-copy; then
  alias pbcopy='wl-copy'
  alias pbpaste='wl-copy'
fi

# scripts
alias gitall='ls -D | xargs -P10 -I{} git -C {}'

$*
