[user]
	email = thanatchakromsang@gmail.com
	name = Thanatchaya Kromsaeng
[github]
	user = thanatchakromsang
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[pull]
	rebase = true
[includeIf "gitdir:~/Developers/sertis"]
    [user]
        name = Thanatchaya Kromsaeng
        email = tkrom@sertiscorp.com
